

@import 'mixin';
@import 'media-queries';

/*

  Sommaire
  -----------

  0. Variables
  1. Structure
  2. Navigation mobile
  3. Footer

*/


/* --------------------------- */
/* 1. Variable                 */
/* --------------------------- */

   // Navigation Mobile
   $nav-mobile-size : 300px;
   $nav-mobile-bg : #3D3D3D;


/* --------------------------- */
/* 1. Structure                */
/* --------------------------- */

body.opened {
  overflow:hidden;
}

.site-container {
  position:relative;
  @include transition(transform 300ms ease-in-out);
}
  .site-container.opened {
    @include translate($nav-mobile-size, 0px);
  }

/* --------------------------- */
/* 2. Navigation mobile        */
/* --------------------------- */

.nav-mobile {
  position: fixed;
  top:0px;
  left: 0px;
  height:100%;
  width:$nav-mobile-size;
  background:$nav-mobile-bg;
  z-index:1;
  display:none;
  @include translate(- $nav-mobile-size, 0px);
  @include transition(transform 300ms ease-in-out);
}
  .nav-mobile.opened {
    @include translate(0px, 0px);
  }

  .nav-mobile .nav-mobile-bt {
    position: absolute;
    top:10px;
    right:-30px;
    z-index:2;
  }

  .nav-mobile .nav-mobile-inner {
    position:relative;
    padding: 20px;
    overflow: auto;
    height: 100%;
  }

@include max-screen(64.063em) {
  .nav-mobile {
    display:block;
  }
}


/* --------------------------- */
/* 3. Footer                   */
/* --------------------------- */

footer {
}
