

@import 'mixin';
@import 'media-queries';

/*

  Sommaire
  -----------

  0. Variables
  1. Structure
  2. Navigation mobile
  3. Navigation
  4. Breadcrumb
  15. Footer

*/


/* --------------------------- */
/* 0. Variable                 */
/* --------------------------- */


   // Font
   $paragraph-font-size : calculateRem(13px);
   $paragraph-line-height : 1.5;

   // Couleur
   $red: random(256)-1;
   $green: random(256)-1;
   $blue: random(256)-1;
   $theme-primary-color : rgb($red, $green, $blue);

   // Style
   $border-radius: 3px;

   // Navigation
   $nav-size : 400px;
   $nav-bg : #FFF;


/* --------------------------- */
/* 0. FONT                     */
/* --------------------------- */


  @font-face {
      font-family: 'socicon';
      src: url('../font/social/socicon-webfont.eot');
      src: url('../font/social/socicon-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/social/socicon-webfont.woff') format('woff'),
           url('../font/social/socicon-webfont.ttf') format('truetype'),
           url('../font/social/socicon-webfont.svg#sociconregular') format('svg');
      font-weight: normal;
      font-style: normal;
  }


/* --------------------------- */
/* 1. Structure                */
/* --------------------------- */

  body {
    font-family:'Helvetica Neue', 'Helvetica', arial;
  }
  body.opened {
    overflow:hidden;
  }

  .site-container {
    position:relative;
    @include transition(transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
  }
    .site-container.opened {
      @include translate(-200px, 0px);
    }

  .hide-content {
    position: fixed;
    top:0px;
    left: 0px;
    height:100%;
    width:100%;
    background-color:#3D3D3D;
    z-index:1;
    opacity:0;
    visibility:hidden;
    -webkit-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
    -moz-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
    -ms-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
    -o-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
    transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
  }

  .hide-content.opened {
    opacity:0.8;
    visibility:visible;
  }



/* --------------------------- */
/* 1. Header                   */
/* --------------------------- */

  header {
    width:100%;
    padding:20px;
    margin-bottom:20px;
    border-bottom:1px solid #eaeaea;
    background-color: #fff;
  }

  .logo {
    float:left;
    padding-left:1em;
  }

  .nav-button {
    cursor:pointer;
    float:right;
    height:30px;
  }

  .nav-icon {
    position:relative;
    float:left;
    width:30px;
    height:30px;
    margin:5px 0px 0px 10px;
  }

  .nav-title {
    position:relative;
    float:left;
    margin:0 0 0 10px;
  }

  .nav-title {
    font-weight:700;
    color:#3D3D3D;
    @include transition(color 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
  }

  .nav-button .nav-icon .line {
    display:block;
    float:left;
    background:#3D3D3D;
    width:20px;
    height:2px;
    margin-bottom:4px;
    @include transition(all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
  }

  .nav-button:hover .line {
    background:$theme-primary-color;
  }

  .nav-button:hover .nav-title {
    color:$theme-primary-color;
  }


/* --------------------------- */
/* 3. Navigation               */
/* --------------------------- */


  .main-nav {
    position: fixed;
    top:0px;
    right: 0px;
    height:100%;
    width:$nav-size;
    background:$nav-bg;
    z-index:2;
    @include translate( $nav-size, 0px);
    @include transition(transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) );
  }

    .main-nav.opened {
      @include translate(0px, 0px);
    }

    .main-nav .nav-inner {
      position:relative;
      padding: 50px 30px 50px 30px;
      overflow: auto;
      height: 100%;
    }

    .main-nav ul.menu {
      margin:80px 0 80px 0;
      padding:0;
      list-style-type:none;
      font-weight:700;
    }

    .main-nav ul.menu li {
      padding:5px 0;
    }

    .main-nav ul.menu li a {
      font-size:15px;
      color:#3D3D3D;
      text-decoration:none;
      @include transition(all 100ms ease-in-out );
    }

    .main-nav ul.menu li.current-menu-item a {
      color:$theme-primary-color;
      text-decoration:none;
    }

    .main-nav ul.sub-menu {
      font-weight:400;
      padding-left:20px;
      margin:10px 0 0 0;
      list-style-type:none;
    }

    .main-nav ul.sub-menu li a{
      font-size:13px;
    }

    .main-nav ul.sub-menu li a::before {
      content: "— ";
    }

    .nav-close {
      width:50px;
      height:50px;
      position:relative;
      float:right;
      cursor:pointer;
      border-radius:25px;
      border:1px solid #eaeaea;
      @include transition(border 200ms ease-in-out );
    }

    .nav-close:hover {
      border:4px solid #eaeaea;
    }

    .nav-close:hover .line {
      background:$theme-primary-color;
    }

      .nav-close .line {
        display:block;
        background:#3D3D3D;
        width:20px;
        height:3px;
        position:absolute;
        left:50%;
        top:50%;
        margin-left:-10px;
        margin-top:-2px;
        @include transition(color 200ms ease-in-out );
      }

      .nav-close .line-1 { @include rotate( 45 ); }
      .nav-close .line-2 { @include rotate( -45 ); }


      // PREV - NEXT

      .nav-prev, .nav-next {
        margin-top:4em;
        padding:1em;
      }

      .nav-prev { float:left;}
      .nav-next { float:right;}

      .nav-prev a, .nav-next a {
        text-decoration:none;
        color:#000;
      }

      .nav-prev a:hover, .nav-next a:hover {
        color:$theme-primary-color;
      }


/* --------------------------- */
/* 1. Typographie              */
/* --------------------------- */


p {
  font-size: $paragraph-font-size;
  line-height : $paragraph-line-height;
}

h1.color, h2.color, h3.color, h4.color, h5.color, h6.color, p.color {
  color:$theme-primary-color;
}

h1.blanc, h2.blanc, h3.blanc, h4.blanc, h5.blanc, h6.blanc, p.blanc {
  color:#FFF;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,p a {
  color:$theme-primary-color;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,p a:hover {
  color:darken($theme-primary-color, 15%);
  text-decoration:none;
}

// File icon

a[href*=".pdf"], a[href*=".doc"], a[href*=".zip"] {
  display:inline-block;
  background: url('../img/document/file_download.svg') no-repeat $theme-primary-color;
  background-position:6px 8px;
  padding:10px 15px 10px 40px;
  margin:0px 5px 5px 0px;
  color:#FFF;
  border-radius:2px;
  text-decoration:none;
  @include transition(background 200ms ease-in-out);
}

a[href*=".pdf"]:hover, a[href*=".doc"]:hover, a[href*=".zip"]:hover {
  color:#FFF;
  background-color: darken($theme-primary-color, 15%);
}


/* --------------------------- */
/* 1. Mise en page             */
/* --------------------------- */

.fullscreen {
  width:100%;
  padding:70px 0 70px 0;
  margin:40px 0 40px 0;
}

  .fullscreen-texte {
    background-color: lighten($theme-primary-color, 15%);
  }

  .fullscreen-image {
    min-height:300px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* --------------------------- */
/* 4. Breadcrumb               */
/* --------------------------- */

  #breadcrumbs .delimiter{
    color:#CCC;
    display: inline-block;
    @include font-size(12px);
  }

    #breadcrumbs a{
      @include font-size(11px);
      display: inline-block;
      padding:0 5px 0 0;
      color: $theme-primary-color;
    }

    #breadcrumbs .current {
      @include font-size(11px);
      display: inline-block;
      padding:0 5px 0 0;
    }

    #breadcrumbs a:hover {
      color: darken($theme-primary-color, 15%);
      text-decoration:none;
    }

/* --------------------------- */
/* 15. Footer                  */
/* --------------------------- */

  footer {
    border-top:1px solid #eaeaea;
    padding:10px 0 30px 0;
    margin:50px 0 0 0;
  }


/* --------------------------- */
/* 15. Widget                  */
/* --------------------------- */

  .widget h1 {
    font-size: $paragraph-font-size;
    margin:20px 0 5px 0;
  }

  .widget p {
    font-size: $paragraph-font-size ;
    line-height: $paragraph-line-height ;
    margin:0 0 5px 0;
  }

  .widget a {
    font-size: $paragraph-font-size ;
    line-height: $paragraph-line-height ;
    color: $theme-primary-color;
  }

  .widget a:hover {
    text-decoration:none;
    color: darken($theme-primary-color, 15%);
  }

  .widget ul{
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .widget .post-date {
    color: #CCC;
    font-size: $paragraph-font-size;
    display:block;
  }

  // Champ recherche

  .widget .searchform label {
    font-size: $paragraph-font-size;
    margin:20px 0 5px 0;
    font-weight:700;
    display:block;
  }

  .widget .searchform input[type=text] {
    display:block;
    border-radius: $border-radius;
    border: 1px solid #CCC;
    min-height:32px;
    margin:0 0 10px 0;
    padding: 0 10px 0 10px;
    }

    .widget .searchform input[type=submit] {
      display:block;
      font-size: $paragraph-font-size ;
      border-radius: $border-radius;
      background-color: $theme-primary-color;
      border:0;
      color:#FFF;
      padding:9px 10px 8px 10px;
      @include transition(background 200ms ease-in-out);
    }

    .widget .searchform input[type=submit]:hover {
        background-color: darken($theme-primary-color, 15%);
      }

  // Social

  .widget-social {
    display:inline-block;
    margin: 6px 3px 6px 0;
    font-family: 'socicon';
  }

    .widget-social a{
      font-size: calculateRem(18px);
      text-decoration:none;
      color:#FFF;
      background-color: $theme-primary-color;
      padding: 6px;
      border-radius:$border-radius;
      @include transition(background 200ms ease-in-out);
    }

    .widget-social a:hover{
      color:#FFF;
      background-color: darken($theme-primary-color, 15%);
    }
