@charset "UTF-8";
/* ----------------------- */
/* Rem font size           */
/* ----------------------- */
/* ----------------------- */
/* Transition              */
/* ----------------------- */
/* ----------------------- */
/* Transform               */
/* ----------------------- */
/*

  Sommaire
  -----------

  0. Variables
  1. Structure
  2. Navigation mobile
  3. Navigation
  4. Breadcrumb
  15. Footer

*/
/* --------------------------- */
/* 0. Variable                 */
/* --------------------------- */
/* --------------------------- */
/* 0. FONT                     */
/* --------------------------- */
@font-face {
  font-family: 'socicon';
  src: url("../font/social/socicon-webfont.eot");
  src: url("../font/social/socicon-webfont.eot?#iefix") format("embedded-opentype"), url("../font/social/socicon-webfont.woff") format("woff"), url("../font/social/socicon-webfont.ttf") format("truetype"), url("../font/social/socicon-webfont.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* --------------------------- */
/* 1. Structure                */
/* --------------------------- */
body {
  font-family: 'Helvetica Neue', 'Helvetica', arial; }

body.opened {
  overflow: hidden; }

.site-container {
  position: relative;
  -webkit-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.site-container.opened {
  -moz-transform: translate(-200px, 0px);
  -o-transform: translate(-200px, 0px);
  -ms-transform: translate(-200px, 0px);
  -webkit-transform: translate(-200px, 0px);
  transform: translate(-200px, 0px); }

.hide-content {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #3D3D3D;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
  -moz-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
  -ms-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
  -o-transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear;
  transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1), visibility 400ms linear; }

.hide-content.opened {
  opacity: 0.8;
  visibility: visible; }

/* --------------------------- */
/* 1. Header                   */
/* --------------------------- */
header {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea; }

.logo {
  float: left;
  padding-left: 1em; }

.nav-button {
  cursor: pointer;
  float: right;
  height: 30px; }

.nav-icon {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 0px 0px 10px; }

.nav-title {
  position: relative;
  float: left;
  margin: 0 0 0 10px; }

.nav-title {
  font-weight: 700;
  color: #3D3D3D;
  -webkit-transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 200ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.nav-button .nav-icon .line {
  display: block;
  float: left;
  background: #3D3D3D;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  -webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.nav-button:hover .line {
  background: #e64827; }

.nav-button:hover .nav-title {
  color: #e64827; }

/* --------------------------- */
/* 3. Navigation               */
/* --------------------------- */
.main-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 400px;
  background: #FFF;
  z-index: 2;
  -moz-transform: translate(400px, 0px);
  -o-transform: translate(400px, 0px);
  -ms-transform: translate(400px, 0px);
  -webkit-transform: translate(400px, 0px);
  transform: translate(400px, 0px);
  -webkit-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1); }

.main-nav.opened {
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

.main-nav .nav-inner {
  position: relative;
  padding: 50px 30px 50px 30px;
  overflow: auto;
  height: 100%; }

.main-nav ul.menu {
  margin: 80px 0 80px 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700; }

.main-nav ul.menu li {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 5px 0; }

.main-nav ul.menu li a {
  font-size: 18px;
  color: #3D3D3D;
  text-decoration: none;
  -webkit-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out; }

.main-nav ul.menu li a:hover {
  color: #e64827; }

.main-nav ul.menu li.current-menu-item a {
  color: #e64827;
  text-decoration: none; }

.main-nav ul.sub-menu {
  font-weight: 400;
  padding-left: 20px;
  margin: 10px 0 0 0;
  list-style-type: none; }

.main-nav ul.sub-menu li a {
  font-size: 15px; }

.main-nav ul.sub-menu li a::before {
  content: "— "; }

.nav-close {
  width: 50px;
  height: 50px;
  position: relative;
  float: right;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #eaeaea;
  -webkit-transition: border 200ms ease-in-out;
  -moz-transition: border 200ms ease-in-out;
  -ms-transition: border 200ms ease-in-out;
  -o-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out; }

.nav-close:hover {
  border: 4px solid #eaeaea; }

.nav-close:hover .line {
  background: #e64827; }

.nav-close .line {
  display: block;
  background: #3D3D3D;
  width: 20px;
  height: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -2px;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out; }

.nav-close .line-1 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-close .line-2 {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-prev, .nav-next {
  margin-top: 4em;
  padding: 1em; }

.nav-prev {
  float: left; }

.nav-next {
  float: right; }

.nav-prev a, .nav-next a {
  text-decoration: none;
  color: #000; }

.nav-prev a:hover, .nav-next a:hover {
  color: #e64827; }

/* --------------------------- */
/* 1. Typographie              */
/* --------------------------- */
p {
  font-size: 0.8125rem;
  line-height: 1.5; }

h1.color, h2.color, h3.color, h4.color, h5.color, h6.color, p.color {
  color: #e64827; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a {
  color: #e64827; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, p a:hover {
  color: #ad2e14;
  text-decoration: none; }

a[href*=".pdf"], a[href*=".doc"], a[href*=".zip"] {
  display: inline-block;
  background: url("../img/document/file_download.svg") no-repeat #e64827;
  background-position: 6px 8px;
  padding: 10px 15px 10px 40px;
  margin: 0px 5px 5px 0px;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: background 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out; }

a[href*=".pdf"]:hover, a[href*=".doc"]:hover, a[href*=".zip"]:hover {
  color: #FFF;
  background-color: #ad2e14; }

/* --------------------------- */
/* 4. Breadcrumb               */
/* --------------------------- */
#breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none; }

#breadcrumbs li {
  font-size: 11px;
  font-size: 0.6875rem;
  display: inline-block;
  padding: 0 5px 0 0; }

#breadcrumbs li a {
  color: #e64827; }

#breadcrumbs li a:hover {
  color: #ad2e14;
  text-decoration: none; }

/* --------------------------- */
/* 15. Footer                  */
/* --------------------------- */
footer {
  border-top: 1px solid #eaeaea;
  padding: 10px 0 30px 0;
  margin: 50px 0 0 0; }

/* --------------------------- */
/* 15. Widget                  */
/* --------------------------- */
.widget h1 {
  font-size: 0.8125rem;
  margin: 20px 0 5px 0; }

.widget p {
  font-size: 0.8125rem;
  line-height: 1.5;
  margin: 0 0 5px 0; }

.widget a {
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #e64827; }

.widget a:hover {
  text-decoration: none;
  color: #ad2e14; }

.widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.widget .post-date {
  color: #CCC;
  font-size: 0.8125rem;
  display: block; }

.widget .searchform label {
  font-size: 0.8125rem;
  margin: 20px 0 5px 0;
  font-weight: 700;
  display: block; }

.widget .searchform input[type=text] {
  display: block;
  border-radius: 3px;
  border: 1px solid #CCC;
  min-height: 32px;
  margin: 0 0 10px 0;
  padding: 0 10px 0 10px; }

.widget .searchform input[type=submit] {
  display: block;
  font-size: 0.8125rem;
  border-radius: 3px;
  background-color: #e64827;
  border: 0;
  color: #FFF;
  padding: 9px 10px 8px 10px;
  -webkit-transition: background 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out; }

.widget .searchform input[type=submit]:hover {
  background-color: #ad2e14; }

.widget-social {
  display: inline-block;
  margin: 6px 3px 6px 0;
  font-family: 'socicon'; }

.widget-social a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #FFF;
  background-color: #e64827;
  padding: 6px;
  border-radius: 3px;
  -webkit-transition: background 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out;
  -ms-transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out; }

.widget-social a:hover {
  color: #FFF;
  background-color: #ad2e14; }

/*# sourceMappingURL=style.css.map */
